/* Site General Color Settings */
$site-clr-white:                #FFFFFF;
$site-clr-black:                #000000;
$site-clr-blue:                 #357CE1;
$site-clr-cyan:                 #17A2B8;
$site-clr-green:                #15B583;
$site-clr-red:                  #FF4052;
$site-clr-orange:               #E67948;
$site-clr-yellow:               #FF8C00;
/* Site General Color Settings */

/* Site Currency Color Settings */
$site-clr-curr-try:                     #FFFFFF;
$site-clr-curr-usd:                     #2DD976;
$site-clr-curr-eur:                     #004777;
$site-clr-curr-btc:                     #F7931A;
$site-clr-curr-eth:                     #637FEA;
$site-clr-curr-ltc:                     #AFAFAF;
$site-clr-curr-xrp:                     #0080BE;
$site-clr-curr-mpay:                    #E8094A;
$site-clr-curr-bat:                     #FF5000;
$site-clr-curr-xlm:                     #5D4E4E;
$site-clr-curr-tryb:                    #002EAC;
$site-clr-curr-usdt:                    #2DD976;
$site-clr-curr-link:                    #2A5ADA;
$site-clr-curr-avax:                    #E84242;
$site-clr-curr-algo:                    #FFFFFF;
$site-clr-curr-dot:                     #FFFFFF;
/* Site Currency Color Settings */

/* Site Dark Theme Settings */
$site-clr-darkblue-900:                 #0A0C14;
$site-clr-darkblue-800:                 #131B31;
$site-clr-darkblue-700:                 #182239;
$site-clr-darkblue-600:                 #1C263F;
$site-clr-darkblue-500:                 #202C46;
$site-clr-darkblue-400:                 #2A3553;
$site-clr-darkblue-300:                 #404D71;
$site-clr-darkblue-200:                 #687CA2;
$site-clr-darkblue-100:                 #3A70EA;
/* Site Dark Theme Settings */

/* Site Border Color Settings */
$site-brdr-light:                       #687CA2;
$site-brdr-light-focus:                 darken($site-brdr-light, 15%);
$site-brdr-light-opacity:               #F2F5F9;
$site-brdr-light-input:                 $site-brdr-light;
$site-brdr-light-input-focus:           $site-brdr-light-focus;
/* Site Border Color Settings */

/* Site Main Settings */
$site-font-family-default:              'Barlow Semi Condensed', sans-serif;
$site-clr-body-bg:                      #1B2540;
$site-clr-text-pri:                     #FFFFFF;
$site-clr-text-sec:                     #7F92B7;
/* Site Main Color Settings */

/* Site Main Path Settings */
$cache-busting:           #{'?v='}(unique_id());
$path-assets-url:         "../../../assets" !default;
$path-fonts-url:          "#{$path-assets-url}/fonts" !default;
$path-img-url:            "#{$path-assets-url}/img" !default;
$path-img-url-icons:      "#{$path-img-url}/icons" !default;
/* Site Main Path Settings */